// Edição de elementos comuns a todas as páginas


.header-home{
    background-color: black;
    font-size: 12px;
    font-weight: bold;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    #navItem{
        &:hover{
            color:$color-hover-links;
        }
    }

    .text-home{
        margin-left:10%;
        margin-top: 15%;
        min-width: 240px;
        height:auto;
    }

}
  

.img-home, .img1-home, .img2-home{
    margin-left:10%;
    padding-top: 5%;
    min-width: 240px;
    height:auto;
}

.img-arrowDown{
    width: 100px;
    height: auto;
    background-color: transparent;
    display: inline-block;
    margin-top: 5px;
    margin-left: 40.5%;
    padding-bottom: 10%; 
}

.logoPC{
    width: 240px;
    margin-left: 110px;
    margin-right: 40px;
}



body h1, p{
    color:#ffffff;
}

body .btn-home{
    border-radius: 4px;
    width: 160px;
    margin-top: 4%;
    font-size: 15px;
    border: 1px solid #ffffff;
    color: #ffffff;
}

body .btn-home:hover{
    background-color: $color-hover-links;
}


.footer-home{
    background-color: #000000;
    height: 15vh;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    
    a{
        text-decoration: none;
        color: #ffffff;

        &:hover{
            color:$color-hover-links;
        }
    }

    .copyOBC{
        color: $copy-color-OBC;
        cursor: pointer;
    }
}
