//Criação das váriáveis

// Cor de hover de links: #b9b9b9

// Cor de copyright da obc no footer: #555252

// Cor do item da tabela: #d8d8d8

$color-hover-links: #b9b9b9;

$copy-color-OBC:  #555252;

$color-item-table: #d8d8d8;

$padding-fixo: 20px 0px;

$padding-button: 15px 30px;



*{
    color: white;
}